[part='date'].holiday {
  color: var(--lumo-error-contrast-color);
}

[part='date'].holiday::before {
  background-color: var(--lumo-error-color);
}

[part='date'].weekend {
  color: var(--lumo-error-color);
}